body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
.footer-links{
  text-decoration: none;
  color: #212529BF;
}
#supportHero{
  background-color: rgb(56,126,209);
  color: white;
}
#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
}
#supportHero input{
  width: 90%;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
#supportHero a{
  color: white;
}